<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js Express TypeScript</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <h1><%= greeting %></h1>
    <h2>Server is running on http://localhost:<%= port %></h2>
    <p>Request method: <%= method %></p>
    <p>Request path: <%= path %></p>
    <p>Request hostname: <%= hostname %></p>
  </body>
</html>
